// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
	margin-left: 10px;
	background: #DEDEDE;
	max-width: 200px;
	padding: 5px;
	margin-bottom: 10px;
}

.body:hover {
	border: 1px solid blue;
}

.span12 {
	margin-top: 3%;

}

.newbook {
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

html {
	background-color: #808080;
}

#books{
	margin-left: 2%;
}